:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Roboto", sans-serif;



  // Наследство с прошлых проектов. Вдруг пригодится
  --white: #fff;
  --white-08: rgba(255, 255, 255, 0.8);
  --white-07: rgba(255, 255, 255, 0.7);
  --white-06: rgba(255, 255, 255, 0.6);
  --white-03: rgba(255, 255, 255, 0.3);
  --white-02: rgba(255, 255, 255, 0.2);

  --balck: #000;
  --balck-02: rgba(0, 0, 0, 0.2);
  --balck-04: rgba(0, 0, 0, 0.4);
  --balck-07: rgba(0, 0, 0, 0.7);


  // --header-height: 80px;
}
