.mobile-nav-open {
  overflow: hidden;

  .mobile-nav {
    visibility: initial;
    opacity: initial;
    pointer-events: initial;
  }
  .menu-button {
    span {
      background-color: transparent;
    }

    span:after {
      transform: rotate(45deg);
      width: 24px;
    }

    span:before {
      transform: rotate(-45deg);
      width: 24px;
    }
  }
}
