.header {
  box-shadow: 0 4px 4px 0 rgba(19, 20, 23, 0.4);
  background: #131417;
  padding-top: 17px;
  padding-bottom: 17px;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  max-width: 100%;

  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  &__buttons {
    display: none;
  }

  @media (max-width: 1023px) {
    &__grid {
      grid-template-columns: auto 1fr auto;
    }
    &__navigation {
      display: none;
    }
    &__contacts {
      justify-self: center;
    }
    &__buttons {
      display: block;
    }

  }
  @media (max-width: 767px) {
    &__grid {
      gap: 20px;
    }
  }
}
