.section {
  padding-top: 32px;
  padding-bottom: 48px;
  background-color: #000000;
  color: #ffffff;
  background-image: url(/img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;



  &__content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
