.wrapper {
  max-width: calc(1196px + (22px * 2));
  width: 100%;
  margin-inline: auto;
  padding-inline: 22px;

  @media (max-width: 1240px) {
    max-width: 100%;
  }

  @media (max-width: 767px) {
    padding-inline: 20px;
  }
}
